<div class="container-fluid footer-bg">
  <div class="row">
    <div class="col-sm text-center">&copy; <a href="mailto:jacksify9@gmail.com" class="copyrgt">Aniket Kamthe</a></div>
  </div>
  <div class="row">
    <div class="col-sm text-center">You can find this project on my <a
        href=" https://github.com/aniketjack/covid19-report" class="copyrgt">Github</a></div>
  </div>
  <div class="row">
    <div class="col-sm text-center">Huge appreciation for <a href="https://github.com/pomber/covid19"
        class="copyrgt">Open data</a></div>
  </div>
  <div class="row">
    <div class="col-sm text-center">Proudly using <a href="https://angular.io/" class="copyrgt">Angular</a> and <a
        href="https://d3js.org/" class="copyrgt">D3Js</a></div>
  </div>
  <div class="row">
    <div class="col-sm text-center"><a href="https://mdusmanansari.github.io/COVID-19-Global-Report/"
        class="copyrgt">Inspired By</a></div>
  </div>

</div>