<div class="row mt-3">
    <div class="col-sm">
        <div class="page-title">
            <div class="legends mt-1">
                <span class="sqr confirmed-bg"></span>
                <span class="sqr-label">Confirmed</span>
            </div>
            <div class="legends mt-1">
                <span class="sqr deaths-bg"></span>
                <span class="sqr-label">Deaths</span>
            </div>
            <div class="legends mt-1">
                <span class="sqr recovered-bg"></span>
                <span class="sqr-label">Recovered</span>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm">
        <div id="bar-stack-chart" class="app-stack-bar"></div>
    </div>
</div>