
  <div class="row">
    <div class="col-sm">
      <div class="app-title">
        Global Corona Virus COVID-19 Report
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <form>
        <div class="form-group has-search">
          <label for="search"></label>
          <span class="form-control-feedback"><i class="fas fa-search"></i></span>
          <input type="text" class="form-control" name="search" [(ngModel)]="searchText" id="search" aria-describedby="search report" placeholder="Search Country">
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let item of globalData | search : searchText; let idx = index" (click)="showGraph(item)">
      <div class="box">
        <div class="box-title text-center">
            {{item[0]}}
        </div>
        <div class="box-content">
            <div class="data-item">
                <h6>Confirmed</h6>
                <h5 class="item confirmed">{{ item[1][item[1].length - 1]['confirmed'] }}</h5>
            </div>
            <div class="data-item">
                <h6>Deaths</h6>
                <h5 class="item deaths">{{ item[1][item[1].length - 1]['deaths'] }}</h5>
            </div>
            <div class="data-item">
              <h6>Recovered</h6>
              <h5 class="item recovered">{{ item[1][item[1].length - 1]['recovered'] }}</h5>
            </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #analysis_summary>
    <div class="modal-header no-border">
      <h5 class="modal-title cust-modal-title">Timely Graphical Report of Last two weeks</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm text-center" style="font-size: 22px;">{{graphData.countryName}}</div>
      </div>
      <div class="row">
        <div class="col-sm">
            <app-stack-bar-graph [data]="graphData"></app-stack-bar-graph>
        </div>
      </div>
    </div>
</ng-template>

